 {% extends 'layout.html' %}

 <!-- {% block additional_styles %}
 <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
 {% endblock %} -->
 

{% block content %}
<div class="cont">
    <div class="box">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='images/skillfest.jpg') }}" alt="Skill Fest Logo" class="logo-pic">
        </div>
        
        <h1 class="hea">Welcome to Skill Fest Exam!</h1>
        <div class="button-con">
            <a href="{{ url_for('login') }}" class="butt">Login</a>  
            <a href="{{ url_for('admin_login') }}" class="butt">Register</a>
        </div>
    </div>
</div>
{% endblock %} 
